<!-- all vacations are spelled out here -->
<!-- Location: vacations/index.html.erb -->

<p><b>Hello, <%= current_user.first_name %></b></p>

<p>
<% @vacations.each do |vacation| %>
    <h2><%= link_to vacation.name, vacation_path(vacation) %></h2>
    <p>
    <% if vacation.start_date.present? %>
      <%= vacation.start_date %> - <%= vacation.end_date %><br/>
    <% end %>
    </p>
<% end %>
</p>