legs/:id/itinerary_items/:id
<%= render 'users/nav'%>

<h1>Itinerary Item</h1>
Day of Trip: <%= @itinerary_item.day_of_trip %><br/>
Activity Time: <%= @itinerary_item.time %><br/>

<%= link_to "View All Items", leg_itinerary_items_path %><br/>
