/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@media only screen and (max-width:980px) {
    .wrapper {width: 90%; background-color: black;}
}

body {
    margin: 0 auto;
    background-color: whitesmoke;
}



 .wrapper {
    width: 100%;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90% 10%;
    grid-gap: 0px;
    margin: 0 auto;
}


.header {
    background-color: #86a3a9;
    background-image: asset-data-url('background.jpg');
    height:250px;
}

.logo {
    margin-left: 50px;
    display: block;
}

.logo .wave {
    font-family: Allura, Cursive;
    color: black;
    font-weight: 00;
    display: inline-block;
}
.logo > span:nth-child(1) {
    font-size: 70pt;
    top: -100pt;
        -webkit-transform: rotate(-40deg);
           -moz-transform: rotate(-40deg);
            -ms-transform: rotate(-40deg);
             -o-transform: rotate(-40deg);
                transform: translate(20px, 10px) rotate(10deg);
}

.logo > span:nth-child(2) {
    font-size: 70pt;
        -webkit-transform: rotate(-20deg);
           -moz-transform: rotate(-20deg);
            -ms-transform: rotate(-20deg);
             -o-transform: rotate(-20deg);
                transform: translate(25px, 20px) rotate(0deg);
}

.logo > span:nth-child(3) {
    font-size: 74pt;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
         transform: translate(30px, 20px) rotate(0deg);
}

.logo > span:nth-child(4) {
    font-size: 76pt;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
     -ms-transform: rotate(-20deg);
      -o-transform: rotate(-20deg);
         transform: translate(45px, 12px) rotate(10deg);
}

.logo > span:nth-child(5) {
    font-size: 80pt;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
     -ms-transform: rotate(-20deg);
      -o-transform: rotate(-20deg);
         transform: translate(65px) rotate(10deg);
}
.logo > span:nth-child(6) {
    font-size: 86pt;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
     -ms-transform: rotate(-20deg);
      -o-transform: rotate(-20deg);
         transform: translate(70px, -5px)  rotate(-10deg);
}
#arrow {
    font-family: Courier, Sans-Serif;
    size: 20pt;
}
#tag {
   font-family: 'Oxygen Mono', monospace;
   font-size:24pt;
   font-weight: bold;
   margin-top:-40px;
   margin-left:50px;
   color: #78656b;
}

#tag2 {
   font-family: 'Oxygen Mono', monospace;
   font-size:24pt;
   font-weight: bold;
   margin-top:-49px;
   margin-left:180px;
   color: #78656b;
}

.main {
    padding: 20px;
    font-family: Roboto, Sans-Serif;    
}
.nav {
    //border-top: 1px solid grey;
    //border-bottom: 1px solid grey;
}
.nav li {
    float: left;
    margin: 0;
}

.nav ul.user-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid rgb(228, 228, 228);
    border-top: 1px solid rgb(106, 159, 168);
}

.nav ul.main-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-right: 1px solid grey;
}

.nav ul.main-nav li a {
    display: block;
    width: 150px;
    padding: 5px 7px 5px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: Georgia, Sans-Serif;
    font-size:10pt;
    //text-transform: uppercase;
    //font-weight: bold;
    border-left:1px solid silver;
}

.nav ul.user-nav li.active {
    border-bottom: 2px solid black;
}

.nav ul.user-nav li {
    display: block;
    width: 150px;
    padding: 7px 9px 7px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: Arial, Sans-Serif;
    font-size:12pt;
    //border-left:1px solid silver;
}

.nav ul.user-nav li a {
    display: block;
    width: 150px;
    //padding: 7px 9px 7px;
    text-decoration: none;
    //text-align: center;
    color: black;
    //font-family: Arial, Sans-Serif;
    //font-size:12pt;
    //text-transform: uppercase;
    //font-weight: 600;
    //border-left:1px solid silver;
}

.nav ul.user-nav li a:hover {
    display: block;
    width: 150px;
    //padding: 7px 9px 7px;
    text-decoration: none;
    //text-align: center;
    color: rgb(48, 44, 44);
    //font-family: Arial, Sans-Serif;
    //font-size:12pt;
    //text-transform: uppercase;
    //font-weight: 600;
    //border-left:1px solid silver;
}


.main h1 {
    font-family: Arial, Sans-Serif;
    font-size: 22pt;
}
.main h2 {
    font-size: 20pt;
    font-family: Arial, Sans-Serif;
    color:rgb(37, 92, 100);

}
.main .alert {
    color: red;
}
.main .field_with_errors {
    color: red;
}
.main a {
    color: grey;
}
.main .mini-nav {
    font-size: 10pt;
    color: green;
}