places/index
<%= render 'users/nav'%>

<p>List of Possible Places</p>

<%= link_to("Add New Place", new_place_path) %><br/>

<% @places.each do |place| %>
    <%= link_to "#{place.city_name}, #{place.state_name} #{place.country_name}", place_path(place) %><br/>
<% end %>