places/index

<p>List of Possible Places</p>

<%= link_to("Add New Place", new_place_path) %><br/>

<% @places.each do |place| %>
    <% if !place.city_name.blank? %><%= place.city_name %><% end %>
    <% if !place.state_name.blank? %><%= ",#{place.state_name}" %><% end %>
    <% if !place.country_name.blank? %><%=", #{place.country_name}" %><% end %><br/>
<% end %>