<!--places/index-->

<h1>Start Planning Your Trip!</h1>

<p>The Possibilities are Endless...</p>

<% @places.each do |place| %>
    <p><%= link_to "#{place.city_name}, #{place.state_name} #{place.country_name}", place_path(place) %></p>
<% end %>

<%= link_to("Add New Place", new_place_path) %><br/>