<div class="nav">
        <ul class="main-nav">
        <% if user_signed_in? %>
        <li style="float:right"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        <% else %>
        <li style="float:right"><%= link_to('Login', new_user_session_path) %></li>
        <% end %>
        <li style="float:right"><%= link_to('Destinations', destinations_path) %></li>
        </ul>
        </div>