attractions/index

<%= render 'users/nav'%>

<p><%= @place.city_name %></p>

<% @attractions.each do |attraction| %>
    <%= link_to attraction.name, place_attraction_path(@place, attraction) %><br/>
<% end %>