attractions/show
<%= render 'users/nav'%>

<h1><%= @attraction.name %></h1>
<%= link_to "Edit", edit_place_attraction_path(@place, @attraction) %> <%= link_to "Delete", attraction_path(@attraction), method: :delete %>