
<h1><%= @destination.city_name %></h1>

<div class="content">
<% @attractions.each do |a| %>
    <p>
    <%= a.name %><br>
    <%= "$#{a.admission}" %><br/>
    </p>
<% end %>
</div>

<div class="mini-nav">
    <%= link_to "< Back to #{@destination.city_name}", destination_path(@destination) %>
</div>